<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food Ordering Application</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
  
        <h1>Food Ordering Application</h1>
      </div>

      <div class="container">
        <img class="mySlides" src="../static/active.jpeg" style="width:100%>
      </div>

      <div class="jumbotron">
        
      <form class="form-survey" method = "POST">

        <div class="container">
        <label><b>Username</b></label>
        <input type="text" name="Username" >

        <label><b>Password</b></label>
        <input type="text" name="Password">

        <input type="submit" name="login" value="Login"></input>
    </div>
      </form>
      <footer class="footer">
        <p>&copy; Zappos Food Service Application 2018</p>
      </footer>

    </div>
  </body>
</html>



