<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Food Ordering Application</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        
        <h1>Food Ordering Application</h1>
      </div>

      <div class="container">
        <img class="mySlides" src="../static/showOrder.png" style="width:100%>
      </div>

      <div class="jumbotron">
        <h3>The Ordered Items are: </h3>
        <form class="form-survey"  method="DELETE">
        
        <table border = 1>
         {% for key, values in result.iteritems() %}
            
            {% for v in values %}
                <tr>
                   <td>  {{v}} </td>
                </tr>

            {% endfor %}
            
         {% endfor %}
      </table>
      <h3> Want to edit the order?</h3>
       <input type="submit" value="Submit" name='editMain'> 
      </form>
      </div>

      <footer class="footer">
        <p>&copy; Zappos Food Service Application 2018</p>
      </footer>

    </div>
  </body>
</html>
