<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mental Health Survey</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="main">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h1>Mental Hack Survey</h1>
      </div>

      <div class="jumbotron">
        <h3>Want to know how satisfied you are with the current job? Take our survey :)</h3>
        <form class="form-survey"  method="POST">
        
         <input type="submit" value="Submit">
      </form>
      </div>



      <footer class="footer">
        <p>&copy; Zappos Food Service Application 2018</p>
      </footer>

    </div>
  </body>
</html>
